@use 'variables' as var;
@use 'shared' as *;

.container {
  width: 100vw;
  height: 100vh;
  .body {
    display: flex;
    height: 100%;
  }

  .sidebar {
    width: 12rem;
    padding: rem(32);
    background-color: var.$lion;
  }
  .content {
    width: 80%;
  }
}
